:host {
  align-items: center;
  display: flex;
  justify-content: center;
}

.stopwatch-container {
  background-color: #1e1e1e;
  border-radius: 15px;
  height: auto;
  max-width: 360px;
  position: relative;
  width: 100%;

  h2 {
    color: #d69c1a;
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    justify-content: center;
    margin: 40px 0;
    text-transform: uppercase;
  }

  .stopwatch-border {
    border-radius: 50%;
    height: 300px;
    position: relative;
    width: 100%;

    .stopwatch-screen {
      background-color: #1e1e1e;
      border-radius: 50%;
      height: 240px;
      left: 50%;
      position: absolute;
      top: 40%;
      transform: translate(-50%, -50%);
      width: 240px;

      .stopwatch-center {
        background-color: #d69c1a;
        border-radius: 50%;
        height: 15px;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 15px;
      }

      /* ---------- Stopwatch hands ---------- */
      .hour-hand,
      .minute-hand,
      .second-hand {
        position: absolute;
        transform-origin: center top;
        ;
      }

      .hour-hand::after,
      .minute-hand::after,
      .second-hand::after {
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        content: '';
        left: 50%;
        position: absolute;
        top: 100%;
        transform: translateX(-50%) rotate(180deg);
      }

      .hour-hand {
        background-color: white;
        height: 102px;
        left: calc(50% - 2px);
        top: 50%;
        width: 4px;

        &::after {
          border-bottom: 18px solid white;
          height: 0;
          top: 100%;
          width: 0;
        }
      }

      .minute-hand {
        background-color: white;
        height: 78px;
        left: calc(50% - 2px);
        top: 50%;
        width: 4px;

        &::after {
          border-bottom: 18px solid white;
          height: 0;
          top: 100%;
          width: 0;
        }
      }

      .second-hand {
        background-color: red;
        height: 102px;
        left: calc(50% - 1px);
        top: 50%;
        width: 2px;

        &::after {
          border-bottom: 12px solid red;
          border-left: 4px solid transparent;
          border-right: 4px solid transparent;
          content: '';
          height: 0;
          left: 50%;
          position: absolute;
          top: 100%;
          transform: translateX(-50%) rotate(180deg);
          width: 0;
        }
      }

      /* ---------- Numbers ---------- */
      .number {
        color: #d69c1a;
        font-size: 18px;
        font-weight: bold;
        left: 47%;
        position: absolute;
        top: 50%;
        transform-origin: top;

        &::before {
          background-color: white;
          bottom: 100%;
          content: '';
          height: 15px;
          left: 50%;
          position: absolute;
          transform: translateX(-30%);
          width: 1px;
        }

        &.divisible-by-five:before {
          width: 4px;
        }

        &:not(.divisible-by-five) {
          visibility: hidden;

          &:before {
            visibility: visible;
          }
        }
      }
    }
  }
}