<div class="stopwatch-container">
  <h2>Stopwatch</h2>
  <div class="stopwatch-border">
    <div class="stopwatch-screen">
      <div class="stopwatch-center"></div>
      <div class="hour-hand" [style.transform]="'rotate(' + calculateHourHandAngle() + 'deg)'"></div>
      <div class="minute-hand" [style.transform]="'rotate(' + calculateMinuteHandAngle() + 'deg)'"></div>
      <div class="second-hand" [style.transform]="'rotate(' + calculateSecondHandAngle() + 'deg)'"></div>
      <div class="number" [ngClass]="{'divisible-by-five': +number % 5 === 0}"
        *ngFor="let number of numbers; let i = index"
        [style.transform]="'rotate(' + (i * 6) + 'deg) translateY(-120px)'">
        <span [ngClass]="{'divisible-by-five': +number % 5 === 0}">{{ number }}</span>
      </div>
    </div>
  </div>
  <div class="stopwatch-buttons">
    <div class="button-group control-group">
      <button class="reset-btn">Reset</button>
      <button class="start-stop-btn">{{ isRunning ? 'Stop' : 'Start' }}</button>
    </div>
    <div class="button-group lap-clear-group">
      <button class="clear-lap-btn">Clear Lap</button>
      <button class="lap-btn">Lap</button>
    </div>
  </div>
</div>