.stopwatch-container {
  border: 1px solid #d9d9d9;
  height: auto;
  max-width: 360px;
  padding: 50px;
  position: relative;
  width: 100%;

  .stopwatch-border {
    border-radius: 50%;
    margin-top: 50px;
    outline: 20px solid #5a9da9;
    padding-bottom: 100%;
    position: relative;
    width: 100%;

    .stopwatch-screen {
      background-color: #fff;
      border-radius: 50%;
      height: 100%;
      outline: 6px solid #313131;
      position: absolute;
      width: 100%;

      .stopwatch-center {
        background-color: #313131;
        border-radius: 50%;
        height: 10px;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 10px;
      }

      /* ---------- Stopwatch hands ---------- */
      .hour-hand,
      .minute-hand,
      .second-hand {
        position: absolute;
        transform-origin: top;
      }

      .hour-hand::after,
      .minute-hand::after,
      .second-hand::after {
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        content: '';
        left: 50%;
        position: absolute;
        top: 100%;
        transform: translateX(-50%) rotate(180deg);
      }

      .hour-hand {
        background-color: #1e1e1e;
        height: 150px;
        left: calc(50% - 2px);
        top: 50%;
        width: 4px;

        &::after {
          border-bottom: 12px solid #1e1e1e;
          height: 0;
          top: calc(100% + 2px);
          width: 0;
        }
      }

      .minute-hand {
        background-color: #1e1e1e;
        height: 127px;
        left: calc(50% - 1px);
        top: 50%;
        width: 2px;

        &::after {
          border-bottom: 12px solid #1e1e1e;
          height: 0;
          top: calc(100% + 2px);
          width: 0;
        }
      }

      .second-hand {
        background-color: red;
        height: 165px;
        left: calc(50% - 1px);
        top: 50%;
        width: 2px;

        &::after {
          border-bottom: 12px solid red;
          border-left: 4px solid transparent;
          border-right: 4px solid transparent;
          content: '';
          height: 0;
          left: 50%;
          position: absolute;
          top: calc(100% + 2px);
          transform: translateX(-50%) rotate(180deg);
          width: 0;
        }
      }

      /* ---------- Numbers ---------- */
      .number {
        font-size: 20px;
        font-weight: bold;
        left: 47%;
        position: absolute;
        top: 50%;
        transform-origin: top;

        &::before {
          background-color: #313131;
          bottom: 100%;
          content: '';
          height: 15px;
          left: 50%;
          position: absolute;
          transform: translateX(-30%);
          width: 1px;
        }

        &.divisible-by-five:before {
          width: 4px;
        }

        &:not(.divisible-by-five) {
          visibility: hidden;

          &:before {
            visibility: visible;
          }
        }
      }
    }
  }

  /* ---------- Buttons ---------- */
  .stopwatch-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  button {
    cursor: pointer;
    width: 120px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    border: none;
    height: 24px;
  }

  .button-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .reset-btn {
    background-color: #565656;
  }

  .start-stop-btn {
    background-color: #D69C1A;
    margin-left: 10px;
  }

  .clear-lap-btn {
    background-color: #565656;
  }

  .lap-btn {
    background-color: #D69C1A;
    margin-left: 10px;
  }
}