<div class="stopwatch-container">
  <h2>Stopwatch</h2>
  <div class="stopwatch-border">
    <div class="stopwatch-screen">
      <div class="stopwatch-center"></div>
      <app-numbers></app-numbers>
      <app-watch-hands [time]="time"></app-watch-hands>
      <app-timer [milliseconds]="time"></app-timer>
    </div>
  </div>
  <app-buttons [time]="time" [isRunning]="isRunning" (startStopClicked)="handleStartStopClicked()"
    (resetClicked)="handleResetClicked()" (lapClicked)="handleLapClicked()" (clearLapClicked)="handleClearLapClicked()">
  </app-buttons>
  <app-laps [laps]="laps"></app-laps>
</div>