.hour-hand,
.minute-hand,
.second-hand {
  position: absolute;
  transform-origin: center top;
}

.hour-hand::after,
.minute-hand::after,
.second-hand::after {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  content: '';
  left: 50%;
  position: absolute;
  top: 100%;
  transform: translateX(-50%) rotate(180deg);
}

.hour-hand {
  background-color: white;
  height: 102px;
  left: calc(50% - 2px);
  top: 50%;
  width: 4px;

  &::after {
    border-bottom: 18px solid white;
    height: 0;
    top: 100%;
    width: 0;
  }
}

.minute-hand {
  background-color: white;
  height: 78px;
  left: calc(50% - 2px);
  top: 50%;
  width: 4px;

  &::after {
    border-bottom: 18px solid white;
    height: 0;
    top: 100%;
    width: 0;
  }
}

.second-hand {
  background-color: red;
  height: 102px;
  left: calc(50% - 1px);
  top: 50%;
  width: 2px;

  &::after {
    border-bottom: 12px solid red;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    content: '';
    height: 0;
    left: 50%;
    position: absolute;
    top: 100%;
    transform: translateX(-50%) rotate(180deg);
    width: 0;
  }
}